<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bookmein.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Gwenda's Portfolio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg nav-style">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" href="../view/index.html">
                Gwenda's Portfolio
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="collapse navbar-collapse d-flex flex-lg-row-reverse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link " href="../view/index.html#page1">Home</a>
                        <a class="nav-item nav-link " href="../view/index.html#page2">About</a>
                        <a class="nav-item nav-link " href="../view/index.html#page3">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="page-1" id="page1">
        <div class="container-fluid">
            <div>
                <h2 class="header-title text-center">
                    Book Me In Application
                </h2>
                <p class="subtitle-info text-center mx-auto">
                    An application to ease the users to book the appointment based on the existing services
                </p>
                <div class="row pt-5">
                    <div class="col-lg-6 col-sm-6 text-lg-end d-none d-lg-block">
                        <img src="../image/bookmein/bookmegroup.png" class="imgbookme" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-6 text-lg-start d-none d-lg-block">
                        <img src="../image/bookmein/bookmelogo.png" class="imglogo" alt="">
                    </div>
                </div>
                <div class="d-lg-none mx-auto justify-content-center">
                    <img src="../image/bookmein/bookmegroup.png" class="imgbookmesmall" alt="">
                </div>
                <div class="container-fluid">
                    <p class="subtitle-info text-center mx-auto pt-lg-5">
                        Book Me In is a booking mobile application based on iOS platform. In here, the server provider offers their 
                        services to book the appointmment. After that, the end user will accept the confirmation of booking appointment
                        after selecting the services. Then, the calendar will automatically update for both service provider and end user. 
                        The purpose of this application is to aid the end user to find the services that the service providers have already
                        delivered and suit for them to book the appoitnment.  
                        <br><br>
                        Regarding to the project, it can be said nearly complete. A few features cannot work appropriate due to the 
                        database problems that couldn't receive to the code at the moment. Therefore, this application is still in offline mode,
                        which cannot show the data from the database or a server. 
                        <br><br>
                        At last, I had two roles to contribute in this project. There were a mobile developer and a UI/UX Designer. 
                        As a mobile developer, I did the codes for the interface in this application. 
                        For instances : 
                        <div class="text-center">
                            <p>
                            - Login page<br>
                            - Register page<br>
                            - Homepage</br>
                            - List of services</br>
                            - Description of services</br>
                            - Appointment confirmation page</br>
                            </div>
                            </p>
                    </p>
                    <h2 class="subtitle-about text-center">
                        Screenshots :
                    </h2>
                    <div class="row pt-5 text-center">
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme1.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme2.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme3.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme4.png" class="imgpbookme" alt="">
                        </div>
                    </div>
                    <div class="row pt-5 text-center justify-content-center">
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme5.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme6.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme7.png" class="imgpbookme" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img src="../image/bookmein/bookme8.png" class="imgpbookme" alt="">
                        </div>
                    </div>
                    <p class="subtitle-info text-center mx-auto pt-lg-5">
                        As a UI/UX Designer, I designed the icons for this apoplication by using Adobe Photoshop. 
                        Here's the outcomes of my icon designs :
                    </p>
                    <div class="row pt-5 text-center justify-content-center">
                        <div class="col-lg-2">
                            <img src="../image/bookmein/bookicon1.png" class="imglogo2" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="../image/bookmein/bookicon2.png" class="imglogo2" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="../image/bookmein/bookicon3.png" class="imglogo2" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="../image/bookmein/bookicon4.png" class="imglogo2" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="../image/bookmein/bookicon5.png" class="imglogo2" alt="">
                        </div>
                    </div>
                    <p class="subtitle-info text-center mx-auto pt-lg-5">
                        PS: This project was made in 2017. The design and application were still in old version. It
                        didn't update yet until now.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="linehr mx-auto">
    <div class="page-2" id="page2">
        <div class="container-fluid card-container pt-lg-3">
            <div class="row">
                <div class="text-center">
                    <h3 class="mb-3">Other projects </h3>
                </div>
                
                <div class="col-lg-12">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Pawon - The Indonesian Food Recipe</h5>
                                                    <p>Pawon - The Indonesian Food Recipe is an application based on iOS
                                                        Platform
                                                        that offers the collection of Indonesian food recipes.
                                                        The purpose of this application is to help the user to find the
                                                        recipes as a
                                                        guide for them who want to cook.
                                                    </p>
                                                    <a href="../view/pawon.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Book Me In Application</h5>
                                                <p>Book Me In is a booking mobile application based on iOS platform. In
                                                    here, the
                                                    server provider offers their services and working days, so
                                                    the end user can use their services to book the appointment. After
                                                    that, the end
                                                    user will accept the confirmation of booking appointment.

                                                </p>
                                                <a href="../view/bookmein.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Forum Application</h5>
                                                <p class="card-text">Forum is one of my cross platform application using
                                                    Cordova
                                                    with iOS display. In this application, the user can share their
                                                    thoughts or discuss about happening issues. By then, the user can
                                                    get the
                                                    information from other users who use this application.
                                                </p>
                                                <a href="../view/forum.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Be Smart - Home Automation Application (Design
                                                    Only)</h5>
                                                    <p>Be Smart is an application which available in iOS 10 and alloes
                                                        the user to
                                                        control different device (i.e lights, coffee, machine, etc)
                                                        by performing a simple tap. This application also provides
                                                        security uses and
                                                        improve user's daily life style.
                                                    </p>
                                                    <a href="../view/besmart.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Remodified icons </h5>
                                                    <p>I had an internship and worked as a software tester and UX
                                                        Designer. In here,
                                                        I remodified several icons on its website to offer clearer
                                                        information
                                                        regarding their services they have. Also, I identified how the
                                                        way of its
                                                        appearance can obtain the look and feel for the user. </p>
                                                    <a href="../view/remodified.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Magazine Cover</h5>
                                                    <p>One of my assignment during studied about Principle of Interactive Media in
                                                        university. The task told about to make an interesting magazine cover, which
                                                        can make
                                                        impressed to everyone who want to read this magazine. </p>
                                                    <a href="../view/magazine.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Savoishi Cafe and Eatery Website</h5>
                                                    <p>It is a restaurant website that shows many menus from its restaurant. This
                                                        was my assignment when I joined a short course in Hacktiv8 about the basics
                                                        of
                                                        front end web development. I created from scratch, which I used HTML, CSS,
                                                        Javascript, and Bootstrap to build this website perfectly. </p>
                                                    <a href="../view/savoishi.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Manage Social Media</h5>
                                                    <p>In pandemic, I tried to find new interest beside of working as a developer. I
                                                        joined an affiliate and sell my own products. Instead of selling product,
                                                        I also learned how to promote the products well by using Instagram and
                                                        Facebook. I had to manage and design the content, in order to attract the
                                                        buyers.
                                                    </p><a href="../view/socmed.html" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="page-3" id="page3">
        <div class="container-fluid">
            <div class="text-center">
                <h2 class="header-subtitle text-center">
                    Contact me
                </h2>
                <p class="card-title">
                    Gwenda Hasna'a Sarri
                </p>
                <p> Email : gwendahasnaa26@gmail.com</p>
                <p> Phone : +62 812 8891 3126</p>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-sm-end">
                        <a href="https://www.instagram.com/gwendaa/" class="nav-link"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-sm-start">
                        <a href="https://www.linkedin.com/in/gwendahasnaa/" class="nav-link"><i
                                class="bi bi-linkedin"></i></a>
                        </a>
                    </div>
                    <p class="pt-lg-3"> Copyright 2021 All right reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>